@charset "utf-8";

.All {
    background-color: #e8d9bf;
}

/* header全体のスタイル */
.header__inner {
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;

    /* 54/1990 = 0.02713568 左右のスペースを計測し画面に合わせるために%で指定*/
    padding-left: 2.71%;
    /* 145/1990 =0.07286432 */
    padding-right: 7.28%;

    /* ロゴの頭に余白調整 */
    padding-top: 10px;

    /* ロゴとナビバーの横並び */
    align-items: center;

    /* 特定の位置で浮きつつ、スクロールもされていく が、うぃどすが失われるので再設定！*/
    position: absolute;
    width: 100%;
}

/* ナビバーのスタイル */

/* 全体横並びと間隔 */
.header__nav ul {
    display: flex;
    gap: 60px;
}

/* 各リストの色とフォント個別設定 */
.header__nav li {
    color: #fff;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
        "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    font-weight: bold;
}

/* ロゴの大きさ調整 画像はWだけ設定すれば縦も自動調整される */
/* headerインナーの中にあるh1に対して設定する */
.header__inner h1 {
    width: 227px;
}

/* コンテナ全体の配置 */
.container {
    max-width: 1000px;
    padding: 0 10px;
    margin: 0 auto;
}

/* メインテーマ */
/* 英語サブタイトル部分 */
.sub_title {
    padding-top: 104px;
    text-align: center;
    font-size: 23px;
}

/* メインタイトル部分 */
.main_title {
    padding-top: 64px;
    text-align: center;
    font-size: 82px;
    line-height: 1.15;
    letter-spacing: 0.1em;
}

/* メインテキスト部分 */
.main_text {
    text-align: center;
    padding-top: 50px;
    font-size: 23px;
    line-height: 1.65;
    letter-spacing: 0.1em;
}

/* about us部分 */

/* 画像グループとテキストグループの親に対して横並び */
.concept {
    display: flex;
    padding-top: 100px;
    align-items: flex-start;
}

/* aboutusロゴ */
.logo_aboutus {
    width: 54%;
    padding: 50px 0 50px 0;
}

/* コンセプト部分の乾杯コーヒー写真グループ */
.concept_1 {
    width: 50%;
}

/* width、heightはパーセンテージで親要素に対して設定！ （画像そのものに対して数値固定すると画面幅が変わってもそのサイズを維持して横スクロールが起きる）*/
.main_pic {
    /* width: 500px;
    height: 560px; */
    /* object-fit: cover; */
    border-radius: 0 0 80px 0;
}

/* コンセプト部分　テキストグループ */
.concept_2 {
    width: 50%;
    padding-left: 40px;
}

/* 「こだわりのコーヒー」テキスト */
.concept_title {
    font-size: 44px;
    line-height: 1.38;
}

/* コンセプト説明テキスト */
.concept_text {
    font-size: 16px;
    padding-top: 30px;
    line-height: 1.56;
}

/* menu部分 */

/* ロゴ中央ぞろえ */
.logo_m {
    text-align: center;
}

.logo_menu {
    width: 151px;
    padding-top: 100px;
}

/* 3つのmenu子を横並び、中央ぞろえ、余白 */
.menu-box {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 0 auto;
    padding-top: 40px;
}

/* menu写真の設定 pt=picture＆titleグループ*/
.menu_list {
    width: 30%;
}

.menu_pic {
    /* width: 300px;
    height: 200px; */
    border-radius: 0 40px 0 0;
}

/* ネガティヴマージンで設定。＋は余白を作る、－は余白を詰める！ 
もともといたh4の位置から、－20pxしている。浮かない*/
.menu_title {
    font-size: 38px;
    color: #d30202;
    margin: -20px 0px 0px 10px;
    /* position: absolute;
    top: 70%;
    left: 5%; */
}

.menu_text {
    padding-top: 10px;
    line-height: 1.47;
}

/* ギャラリー */
.gallery {
    padding: 100px 0px 0px;
    width: 100%;
}

/* ロゴ中央ぞろえ */
.logo_g {
    text-align: center;
}

.logo_gallery {
    width: 245px;
    padding-bottom: 25px;
}

/* 横並び指定 */
.gallery_photo {
    display: flex;
    justify-content: center;
}

/* 写真のサイズ  ※Wをピクセルで設定しない。
・全体100%に対して5枚の画像＝1枚あたり20%占めている
・Wを決めたらハイトの設定はいらない、無理な改行で反映される。*/
.g_list {
    width: 20%;
}

/* .gallery_pic {
    width: 384px;
    height: 300px;
} */

/* イベントセクション部分（section範囲内でpaddingとっていたのはmenu-までなので、event部分も同様にする） */
.event {
    padding: 70px 10px 0px;
}

/* ロゴ親要素に中央揃え */
.logo_e {
    text-align: center;
}

/* ロゴ本体にサイズ指定 */
.logo_event {
    width: 171px;
    padding-bottom: 40px;
}

/* イベント項目 */
/* 枠要素の設定 */
.event_box {
    max-width: 1000px;
    /* height: 200px; */
    margin: 0 auto;
    background-color: #fff;
    border: solid 3px;
}

/* 親要素に横並び指定 */
.event_inner {
    font-size: 23px;
    padding: 20px 10px;
    max-width: 730px;
    margin: 0 auto;
    line-height: 1.95;
}

.event_title {
    margin-left: 40px;
    border-bottom: solid 1px;
}

/* map */
.logo_a {
    text-align: center;
}

.logo_access {
    width: 213px;
    padding: 80px 0px 45px 0px;
}

.map {
    width: 100%;
    /* height: 471px; */
    filter: grayscale(100%) invert(92%) contrast(83%);
    vertical-align: bottom;
}

/* フッター設定 余白、中央ぞろえ、枠のサイズ*/
footer {
    margin-top: 30px;
    margin: 0 auto;
    width: 100%;
    height: 390px;
    background-color: #fff;
}

/* フッターのロゴ設定 */
.footer-logo {
    width: 226px;
}

/* ロゴ部分とテキスト横並び */
.footer_top {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    gap: 60px;
}

/* テキスト部分の設定 */
.footer_right p {
    font-size: 20px;
    line-height: 1.95;
}

/* コピーライト */
.fotter-bottom {
    padding-top: 71px;
    text-align: center;
    padding-left: 200px;
    font-size: 16px;
}

.totop_bottom {
    width: 125px;
    height: 125px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

/* はんばーがーめにゅー */
.hamburger,
.header__nav-sp {
    display: none;
}

@media screen and (max-width: 1100px) {
    .header__nav {
        display: none;
    }

    .hamburger {
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 9999;
        transition: 0.5s;
        cursor: pointer;
    }

    .hamburger span {
        position: absolute;
        content: "";
        width: 30px;
        height: 2px;
        background-color: #fff;
        top: 13px;
        transition: 0.5s;
    }

    .hamburger span::before {
        position: absolute;
        content: "";
        width: 30px;
        height: 2px;
        background-color: #fff;
        top: -10px;
        transition: 0.5s;
    }

    .hamburger span::after {
        position: absolute;
        content: "";
        width: 30px;
        height: 2px;
        background-color: #fff;
        bottom: -10px;
        transition: 0.5s;
    }

    /* ばってんの動きを付けたい  */
    .open span {
        background-color: transparent;
    }

    .open span::before {
        transform: rotate(45deg);
        top: 0;
    }

    .open span::after {
        transform: rotate(-45deg);
        bottom: 0;
    }

    /* 開いたときのメニュー */
    .header__nav-sp {
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: #0303037d;
    }
    .header__nav-sp ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        height: 100%;
    }

    .header__nav-sp li {
        color: #fff;
        font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
            "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
        font-weight: bold;
    }
}

.concept_sp,
.logo_aboutus_sp,
.concept_1_sp,
.concept_2_sp,
.main_pic_sp {
    display: none;
}

/* レスポンシブ */
/* 一個目のブレイクポイント */
@media screen and (max-width: 1100px) {
    .sub_title {
        font-size: 17px;
    }
    .main_title {
        font-size: 57px;
        letter-spacing: 0.1em;
    }

    .main_text {
        font-size: 17px;
        text-align: center;
    }

    .concept_2 {
        font-size: 37px;
    }

    .concept_text {
        font-size: 16px;
    }
}

/* 767pxでの見え方を設定 */
@media screen and (max-width: 767px) {
    .container {
        padding: 0px;
    }

    /* メイン */
    .title_box {
        padding: 0px 10px;
    }

    .sub_title {
        font-size: 16px;
        padding-top: 40px;
    }

    .main_title {
        font-size: 35px;
        text-align: center;
        letter-spacing: 0.02rem;
        padding-top: 30px;
    }

    .main_text {
        font-size: 15px;
        letter-spacing: 0.1rem;
        padding-top: 20px;
    }

    .main_text span {
        display: inline-block;
    }

    .main_pic_sp {
        width: 100%;
    }

    /* about us の再設定 */
    .concept {
        display: none;
    }

    .concept_sp,
    .logo_aboutus_sp,
    .concept_1_sp,
    .concept_2_sp,
    .main_pic_sp {
        display: block;
    }

    .concept_2_sp {
        padding: 0px 10px;
    }

    .logo_aboutus_sp {
        padding-top: 70px;
        width: 42%;
        margin: 0 auto;
    }

    .concept_title_sp {
        padding-top: 30px;
        font-size: 36px;
        line-height: 1.25;
    }

    .concept_text_sp {
        padding-top: 30px;
        font-size: 16px;
        line-height: 1.75;
    }

    /* menu部分 */
    .main_pic_sp {
        padding-top: 15px;
        width: 100%;
        margin: 0 auto;
    }

    .logo_menu {
        width: 23%;
        padding-top: 50px;
    }

    #menu ul {
        flex-direction: column;
    }
    #menu li {
        width: 100%;
        padding: 0 25px 25px 25px;
    }

    .menu_title {
        font-size: 40px;
    }

    .menu_text {
        font-size: 17px;
        line-height: 1.58;
    }

    /* ギャラリー */
    .logo_gallery {
        width: 37%;
        padding-top: -10px;
    }

    /* eventの設定 */
    .event {
        padding: -40px 0px 0px 0px;
    }

    .logo_event {
        width: 26%;
        padding: 0px 0px -20px 0px;
    }

    .event_box {
        width: 100%;
        margin: 0 auto;
    }

    #event ul {
        font-size: 16px;
        padding: 0px 20px;
    }

    .event_title,
    time {
        display: block;
        font-size: 16px;
    }

    .event_title {
        margin-left: 0px;
        /* オーバーした要素を非表示にする*/
        overflow: hidden;

        /* 改行を半角スペースに変換することで、1行にする */
        white-space: nowrap;

        /* オーバーしたテキストを３点リーダーにする */
        text-overflow: ellipsis;
    }

    /* map */
    .logo_access {
        width: 33%;
        padding: 30px 0 10px 0;
    }
    #access map {
        width: 100vh;
    }

    .footer {
        margin-bottom: 30px;
    }
    .footer_top {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: 45px 10px 0;
    }

    .footer_right p {
        font-size: 18px;
    }

    .fotter-bottom {
        padding-right: 200px;
        font-size: 16px;
    }

    .totop_bottom {
        width: 100px;
        height: 100px;
    }
}
